@page
@model SEP3.Pages.UserPage
@{
    Layout = null;
}


<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>Welcome!</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/cool.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>


<body>
<div class="wrapper">
<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>PartyPlanner</h3>
    </div>

    <ul class="list-unstyled components">
        @{
            if (Model.user != null)
            {
                <p>@Html.DisplayFor(modelItem => Model.user.username)</p>
            }
        }
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parties</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">

                @* <select name="PartySelect" class="selection" asp-for="Party" asp-items="@(new SelectList(Model.Parties, "partyID", "partyTitle"))"> *@
                @*     <option value="">Pick one</option> *@
                @* </select> *@

                @{
                    if (Model.Parties != null)
                    {
                        foreach (var party in Model.Parties)
                        {
                            <li>
                                <a href="#" class="selection">@Html.DisplayFor(modelItem => party.partyTitle)</a>
                            </li>
                        }
                    }
                }

            </ul>
        </li>
        <li>
            <a href="">About</a>
        </li>


    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Log out</a>
        </li>

        <br>

    </ul>
    <div>
        <iframe src="https://open.spotify.com/embed/playlist/6migdqULddRkp7MjmjPsSd" width="250" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</nav>


<!-- Page Content  -->
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

            <button type="button" id="sidebarCollapse" class="btn btn-info">

                <a class="" asp-area="" asp-page="/CreatePartyPage">
                    <i class="fas fa-plus"></i>
                    <span>Create party</span>
                </a>
            </button>

        </div>
    </nav>
    <div class="row h-15 d-flex justify-content-center">

        <a asp-page="/EditPartyPage">
            <div class="card card-1 col-md-10  ">
                <h2 align="center">Party name</h2>
                <p>lalalalla</p>

                <div class=" row d-flex justify-content-center ">


                </div>

            </div>
        </a>

    </div>

    <div class="row h-50 d-flex justify-content-center ">

        <div class="card card-1 col-md-5  ">
            <h2 align="center">People:</h2>

            <table class="table">
                <tbody>
                @if (Model.Persons != null)
                {
                    <div id="people"></div>
                }

                </tbody>
            </table>
             <div class=" d-flex justify-content-center align-self-end " style="color:#B9B6E5; ">
                        <form method="get">
                            <input asp-for="Item" type="text" name="addItem" class="col-md-7" placeholder="Search..">
                            <button asp-area="" asp-for="SearchPerson" type="button" class="btn btn-info col-md-2">
                                <i class="fas fa-search"></i>
                            </button>
                            <button asp-area="" asp-for="SearchPerson" type="button" class="btn btn-info col-md-2" placeholder="Search..">
                                <i class="fas fa-user-plus"></i>
                            </button>
                        </form>
                    </div>
        </div>

        <br>


       


    </div>


    

    <div class=" row d-flex justify-content-center align-self-end ">
        <div class="card card-1 col-md-5  ">
                <h2 align="center">Items:</h2>
        
                <div id="items">
                    <p>Dummy</p>
                </div>
        
            <a class="nav-link text-white btn btn-info btn-lg " asp-area="" data-toggle="modal" data-target="#myModal">Add</a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="mr-auto"> Add item to list</h1>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
            
                                </div>
            
                                <ul class="two-column">
                                </ul>
            
                                <ul class="two-column">
                                    <form method="post">
                                        <div>
                                            <div class="form-group">
                                                <label asp-for="Item.name">Name of item:</label>
                                                <span class="subtitle">
                                                    <input asp-for="Item.name" class="form-control form-control-sm"/>
                                                </span>
                                                <span asp-validation-for="Item.name"></span>
                                            </div>
                                        </div>
            
                                        <div>
                                            <div class="form-group">
                                                <label asp-for="Item.price">Price:</label>
                                                <span class="subtitle">
                                                    <input asp-for="Item.price" class="form-control form-control-sm"/>
                                                </span>
                                                <span asp-validation-for="Item.price"></span>
                                            </div>
                                        </div>
            
                                        <div>
                                            <div >
                                                <p class="actions">
                                                    <input type="hidden" asp-for="Item"/>
                                                    <button type="submit" class="btn btn-default">Add</button>
                                                </p>
                                            </div>
                                        </div>
            
            
                                    </form>
                                </ul>
            
                            </div>
                        </div>
                    </div>    
        </div>


    </div>


    <form>
        <button class="btn pmd-btn-fab pmd-ripple-effect btn-info float-right float-button" type="button" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); ">
            <i class="fas fa-save"></i>
        </button>
    </form>
</div>
</div>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>


<script type="text/javascript">
@*@if (true)
{
    Console.WriteLine("Hello from the script");
}
        $(function () {
            $('.selection').on('click', function () {
                @{ Console.WriteLine("The second cw in the script"); }
                
                
                var title = $(this).text()
                //
                // $.ajax(
                //     {
                //     type:"GET",
                //     url: "/UserPage/OnGetPartialItem",
                //     contentType: 'json',
                //     data :{ id: title},
                //     success: function(data) {
                //         $('#items').html(data);
                //     }, 
                //     error: function() {
                        @{
                            Console.WriteLine("This kind of works");
                        }
                //     }
                //     }
                // );
                
                
               $('#items').load('/userpage?handler=PartialItem', title);
                @{ Console.WriteLine("Hello from this side"); }});
        });*@
    </script>


</body>

</html>